.chart-container{
    width: 800px;  /* 或任何适合的大小 */
    height: 400px; /* 或任何适合的大小 */
    margin: 20px 0; /* 增加上下外边距，确保框之间有间隔 */
    border: 1px solid #ccc; /* 边框样式 */
    padding: 15px; /* 内边距 */
    background-color: white; /* 背景颜色 */
    border-radius: 3px;
}